* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: grid;
    place-items: center;
    margin: 0;
    height: 100vh;
     background: linear-gradient(to bottom, #aaaaaa, #eeeeee); 
    
  }
  
  #spin_the_wheel {
    display: inline-block;
    position: relative;
    overflow: hidden;
  }
  
  #wheel {
    display: block;
  }
  
  #spin {
    font:
      1.5em/0 "Lato",
      sans-serif;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    height: 20%;
    margin: -10%;
    background: #fff;
    color: #fff;
    box-shadow:
      0 0 0 8px currentColor,
      0 0px 15px 5px rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    transition: 0.8s;
  }
  
  #spin::after {
    content: "";
    position: absolute;
    top: -17px;
    border: 10px solid transparent;
    border-bottom-color: currentColor;
    border-top: none;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  .custom-alert {
    display: none; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 300px;
    text-align: center;
}

.custom-alert p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

#alertCloseButton {
    margin-top: 15px;
    padding: 8px 16px;
    background-color: #00e6e6; /* Customize this color */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#alertCloseButton:hover {
    background-color: #009999; /* Customize hover effect */
}
